<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../../../layui/css/layui.css"/>
    <script type="text/javascript" src="../../../layui/layui.js"></script>
</head>
<body>
<button type="button" class="layui-btn layui-btn-normal" id="user" style="margin-left: 38%;margin-bottom: 1%">用户</button>
<button type="button" class="layui-btn layui-btn-normal" id="admin" style="margin-bottom: 1%">管理员</button>
</body>
</html>